## 機器情報
| 項目 | 値 |
|------|----|
| Serial Number | {{ ansible_net_serialnum }} |  
| OS Version | {{ ansible_net_version }} |
| IOS Type | {{ ansible_net_iostype }} |  
| Model | {{ ansible_net_model }} |  
| Image | {{ ansible_net_image }} |  
| API | {{ ansible_net_api }} |    
| Python Version | {{ ansible_net_python_version }} | 
