## LACP(準備中)

{{ ansible_network_resources["lacp"] | default("None")}}  
{{ ansible_network_resources["lacp_interfaces"] | default("None")}}  
{{ ansible_network_resources["lag_interfaces"] | default("None")}}  

