## OSPF (準備中)

{{ ansible_network_resources["ospf_interfaces"] | default("None")}}  
{{ ansible_network_resources["ospfv2"] | default("None")}}  
{{ ansible_network_resources["ospfv3"] | default("None")}}  

